/* todo I went ahead and did the mobile layout so you can do the deskotp and we can work on the middle section together */

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-family: Lexend Deca;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 1.5;
}
.card-container {
  padding: 30px;
}
.card-container img {
  padding-bottom: 20px;
}
.card-container h2 {
  padding-bottom: 20px;
  font-family: Big Shoulders Display;
  font-weight: 700;
  font-size: 42px;
  color: hsl(0, 0%, 95%);
}
.card-container button {
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 40px;
  border: none;
  font-size: 15px;
  font-family: Lexend Deca;
  background-color: hsl(0, 0%, 95%);
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 2.5em 2.5em 2.5em 3em;
}
.sedan button{
color: hsl(31, 77%, 52%);
}
.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 2.5em 2.5em 2.5em 3em;
}
.suv button{
color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 2.5em 2.5em 2.5em 3em;
}
.luxury button{
color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
  position: fixed;
  left:43%;
  bottom: 2%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 700px) {
  .card-container {
    display: flex;
    padding-block-start: 20%;
    padding-inline: 20%;
  }
  .card-container button{
    margin-block-start: 5em;
  }
}
